.search{
  text-align:center;
  
}
.search input{
  height: 40px;
  width: 50%;
  border-radius: 5px;
  outline-style: none;
  outline:none;
}
.search button{
  height: 40px;
  width: 60px;
  margin-left: 5px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  
}